<div class="grid_8 alpha" id="homepageposts">
	<% @posts.each do |post| %>
		<div class="post" id="<%= post.id %>">
				<div class="title"><%= h post.title %></div>
				<div class="dateauthor">Posted on <%= post.date.strftime('%m/%d/%Y') %> by <%= h post.author %></div>
				<div class="content"><%= post.content %></div>
		</div>
	<% end %>
</div>
<div class="grid_4 omega" id="homesidebar">
	<div id="search">
		<form>
			<span class="sidebartitle">Search TI-Nspire Files</span>
			<input type="text" />
			<input type="submit" value="Search!" />
		</form>
	</div><br />
	<div id="latestfiles">
		<span class="sidebartitle">Latest Files</span><br />
		<% @files.each do |file| %>
			<%= link_to file.title, "downloads/" + file.file_url, :confirm => "Do you want to download the file " + file.title + "?" %>
			<br />
		<% end %>
	</div>
	<div id="popularlinks">
		<span class="sidebartitle">Popular Links</span><br />
		<a href="http://hackspire.unsads.com/wiki/index.php/Main_Page">Hackspire</a><br /> 
		<a href="http://www.johnhanna.us/TI-nspire.htm">John Hanna's TI Nspire Page</a><br /> 
		<a href="http://ticalc.org">Ticalc.org</a><br /> 
		<a href="http://www.tinspire.com">TI Nspire Official Website</a><br /> 
		<a href="http://www.cemetech.net">Cemetech</a><br /> 
		<a href="http://groups.google.com.au/group/tinspire?hl=en-GB">TI Nspire Google Group</a><br /> 
		<a href="http://www.junemann.nl/maxcoderz/">Maxcoderz</a><br /> 
		<a href="http://www.unitedti.org">United TI</a><br /> 
		<a href="http://www.timath.com">TI Math</a><br /> 
		<a href="http://nelsonsousa.pt">Nelson Sousa's TI Nspire Website</a><br /> 
		<a href="http://handheldgeometry.co.uk">Handheld Geometry</a>
	</div>
</div>
