<h1>New TI-Nspire File</h1>

<% form_for(@nspirefile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category, Nspirefile::CATEGORIES %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :image_url, "Image" %><br />
    <%= f.text_field :image_url, :id => "image_edit_field" %><br />
	<%= f.label "Image Preview" %><br />
	<%= image_tag "nspire/noimage.jpg", :id => "image_preview_field" %>
  </p>
  <p>
    <%= f.label :file_url, "Download Path" %><br />
    <%= f.text_field :file_url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', nspirefiles_path %>